@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Rubik:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik";
  font-weight: 500;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

header {
  height: 48px;
  background-color: #007878;
}

a img {
  width: 22.5px;
  height: 22.5px;
  color: rgba(255, 255, 255, 0.75);
  top: 0;
  left: 23.26px;
  transform: translateY(5px);
}

.topbar a,
.topbar ul li {
  margin: 9px 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Poppins";
  font-weight: 500;
}

header ul li {
  display: inline-block;
  position: relative;
}

header ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 2px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  transform: translateY(-50%);
}

header ul li:first-of-type::before {
  display: none;
}

.top {
  padding-left: 30px;
}

.bottom {
  padding-left: 20px;
}

.wrapper {
  width: 1200px !important;
  margin: 0 auto !important;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  color: black;
  font-family: "Poppins";
}

.input input,
.input button {
  outline: 0;
  border: 0;
  background-color: #f7f9fc;
}

.input input {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-family: "Poppins";
}

.input button {
  width: 50px;
  height: 100%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.input {
  width: 504px;
  position: relative;
}

.list ul li img {
  margin-right: 10px;
}

.list ul li img:hover {
  color: #206363;
}

.list ul li a {
  color: black;
  font-family: "Poppins";
  padding-left: 30px;
}

.list ul li a:hover {
  color: #206363;
}

.header-top {
  padding: 32px 0 35px 0;
}

.header-bottom {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 170%;
  padding-bottom: 24px;
}

.header-bottom a {
  padding-right: 54px;
  color: black;
  font-family: "Poppins";
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.header-bottom a:hover {
  color: #206363;
  border-bottom: 2px solid #206363;
}

.slider-container {
  background-color: #ffe2df;
  height: 584px;
}

.slider-text h2 {
  font-size: 24px;
  line-height: 41px;
  color: #df4244;
  font-family: "Rubik";
  font-weight: 500;
  padding-top: 99px;
}

.slider-text .green {
  font-size: 24px;
  line-height: 41px;
  color: #43d167;
  font-family: "Rubik";
  font-weight: 500;
  padding-top: 99px;
}

.slider-text h1 {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  margin-bottom: 8px;
}

.slider-text p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  color: #212121bf;
  width: 100%;
  margin-bottom: 48px;
}

.dv1 {
  width: 453px;
  height: 81px;
}

.slider-text a {
  background-color: #206363;
  display: inline-block;
  text-align: center;
  padding: 12px 56px;
  width: 192px;
  height: 52px;
  border-radius: 8px;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 27.2px;
  color: white;
  transform: translateY(40px);
}

.slider-text a:hover {
  background-color: #f75145;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.slider-img {
  width: 642px;
  height: 535px;
}

.slider-img img {
  transform: translateX(200px);
  width: 100%;
  height: 100%;
}

.owl-carousel1 {
  margin: 0 auto !important;
  width: 80% !important;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.owl-dots {
  margin: 0 auto;
  width: 1200px;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: white !important;
  border-radius: 50%;
  margin-right: 10px;
  transform: 0.2s !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.owl-dot.active {
  width: 35px !important;
  border-radius: 15px !important;
  background-color: #df4244 !important;
}

.grey {
  height: 144px;
  background-color: #f7f7f7;
}

.info {
  height: 100%;
}

.info img {
  width: 48px;
  height: 48px;
  align-items: center;
  margin-right: 4px;
}

.info span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 27.2px;
  color: black;
}

.info ul li {
  margin-right: 55px;
}

.info a {
  display: flex;
  align-items: center;
  height: 60px;
}

.grey2 {
  height: 200px;
  border: 2px solid #e4e4e4;
}

.info2 {
  height: 100%;
}

.info2 img {
  width: 48px;
  height: 48px;
  align-items: center;
  margin-right: 4px;
}

.info2 span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 27.2px;
  color: black;
}

.info2 ul li {
  margin-right: 55px;
}

.info2 p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info2 a {
  display: flex;
  align-items: center;
  height: 60px;
}

.color {
  background-color: #f7f7f7;
}

.owl-prev,
.owl-next {
  background-color: #f75145;
  padding: 20px !important;
  font-size: 30px !;
}

.bags {
  width: 100%;
  height: 100%;
  padding: 80px 0 96px 0;
}

.bag img {
  position: absolute;
  right: 0px;
  bottom: -15px;
  border-radius: 8px;
  width: 163px !important;
  height: 157px !important;
}

.bag {
  height: 162px;
  border-radius: 8px;
  position: relative;
  margin-right: 24px;
  overflow: hidden;
  cursor: pointer;
}

.bag p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 30.6px;
  color: black;
  position: absolute;
  top: 15px;
  left: 15px;
}

.iconSize {
  width: 5px;
  height: 10px;
}

.iconText {
  font-family: "Poppins";
  font-weight: 400;
  line-height: 27.2px;
  cursor: pointer;
}

.handbag {
  background-color: #f7f7f7;
  width: 360px;
  height: 508px;
  border-radius: 8px;
  margin-top: 43px;
}

.handbag_img {
  padding-bottom: 19px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  cursor: pointer;
}

.handbag_img img {
  width: 218px !important;
  height: 243px !important;
}

.handbag_img .about {
  width: 79px;
  height: 32px;
  background-color: #43d167;
  color: white;
  border-radius: 8px;
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: "Poppins";
  line-height: 500;
  font-size: 16px;
  line-height: 27.2px;
  padding: 2px 0 3px 0;
  text-align: center !important;
}

.heart {
  width: 19px;
  height: 16px;
  color: #f75145;
  position: absolute;
  z-index: 9999;
  top: 18px;
  right: 18px;
}

.size {
  height: 15px !important;
  width: 15px !important;
  display: inline-block !important;
}

.handbag_details img {
  margin: 19px 0 19px 24px;
}

.handbag_details h3 {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  margin: 0 34px 16px 24px;
}

.form1 {
  font-family: "Poppins";
  color: #f75145;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  margin: 42px 24px 18px 24px;
}

.form2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  color: #363636bf;
  margin: 42px 24px 18px 0;
}

.handbag_details .add {
  width: 312px;
  height: 48px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 24px 38px 24px;
  color: black;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 27.2px;
  transition: 0.3s;
  background-color: whitesmoke;
}

.handbags {
  position: relative !important;
}

.owl-next {
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  top: 50% !important;
  font-size: 25px !important;
  left: 0;
  transform: translateX(-50%);
  background: #ffffff !important;
  border: 1px solid #ebebeb !important;
  border-radius: 50%;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.02) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-next {
  right: -20px !important;
  left: unset;
  transform: translateX(0) !important;
}

.seller {
  background-color: #fff7f7;
  padding: 72px 0;
  margin-top: 96px;
}

.add:hover {
  background-color: #df4244;
  color: white;
  border: none;
  cursor: pointer;
}

.about {
  transition: 0.3s;
}

.heart {
  transition: 0.2s;
  margin: 5px 5px;
  font-size: 20px;
  cursor: pointer;
}

.padd {
  padding: 96px 0 32px 0;
}

.input-bottom {
  width: 504px;
  height: 48px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Poppins";
}

.foot {
  background-color: #f7f7f9;
  margin-top: 128px;
}

.footer {
  position: relative;
  padding: 39px 0 36px 0;
}

.icon {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 24px;
  height: 24px;
  color: #273142bf;
  font-size: 25px;
}

.line-top {
  width: 1530;
  background-color: #27314200;
  border: 1px solid rgba(39, 49, 66, 0.15);
}

.line-bottom {
  width: 1530;
  background-color: #27314226;
  border: 1px solid rgba(39, 49, 66, 0.15);
}

.information {
  padding-top: 56px;
}

.text {
  width: 350px;
}

.text ul li {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  color: #212121bf;
}

.text ul li i {
  width: 30px;
  height: 20px;
  color: #1d1d1b;
  font-size: 20px;
}

.text ul li a {
  color: #212121bf;
}

.style {
  display: inline-block;
  margin: 40px 0 15px 0;
}

.mail {
  border: 1px solid #171717;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  width: 179px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  font-size: 30px;
  cursor: pointer;
}

.mail:hover {
  border: #ffffff;
  background-color: #206363;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.text2,
ul li h3 {
  font-family: "Rubik";
  font-weight: 500;
  color: #212121;
  line-height: 170%;
}

.text2 ul li span {
  color: #212121bf;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
}

.text2 ul li span:hover {
  color: #206363;
}

.text2 ul li span :last-of-type {
  padding: 0 0;
}

.text3 ul li h3 {
  font-family: "Rubik";
  font-weight: 500;
  color: #212121;
  line-height: 170%;
}

.text3 ul li span {
  color: #212121bf;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
}

.text3 ul li span:hover {
  color: #206363;
}

.text3 ul li span :last-of-type {
  padding: 0 0;
}

.text4 ul li h3 {
  font-family: "Rubik";
  font-weight: 500;
  color: #212121;
  line-height: 170%;
}

.text4 ul li span {
  color: #212121bf;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
}

.text4 ul li span:hover {
  color: #206363;
}

.text4 ul li span :last-of-type {
  padding: 0 0;
}

.information {
  padding-bottom: 80px;
}

.end {
  height: 72px;
}

.end ul li i {
  width: 20px;
  height: 20px;
  color: #212121;
  font-size: 20px;
  margin-left: 15px;
}

.end span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  color: #212121bf;
}

.bags .owl-nav.disabled {
  display: block !important;
}

.added {
  background-color: #206363 !important;
  color: #ffffff !important;
}

.basket-modal {
  width: 400px;
  position: absolute;
  z-index: 2;
  background-color: whitesmoke;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  padding: 30px;
}

.basket-modal img {
  width: 80px;
}

.modal-opened {
  opacity: 1;
  visibility: visible;
}

.basket-modal li {
  display: flex;
  align-items: center;
}

.products {
  margin: 5px;
  padding-top: 5px;
  border: 1px solid red;
}

.row {
  margin-top: 5px;
}

/* ///////////////////// */

.product-details {
  padding: 10px;
}

.product-top {
  padding: 15px;
}

.product-bottom {
  padding: 20px;
  display: flex;
}

.product-slider {
  padding: 25px;
}

.product-img {
  padding: 30px;
}

.product-info {
  padding: 35px;
}

/* @media only screen and (max-width: 700px) {
  header-bottom {
    width: 100%;
    color: #206363;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  header-bottom a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
} */

.product-details {
  padding: 20px 0;
}

.product-bottom {
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.product-slider {
  height: 400px;
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  height: 473px;
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 60px 56px 56px;
  position: relative;
  background: #f9f9f9;
}

.product-info {
  /* height: 473px; */
  width: 42%;
}

/* /// */

.product-info h1 {
  font-size: 24px;
  color: #212121;
}
.product-info .star-home {
  padding: 10px 0;
}

.pieces {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.piece {
  width: 40%;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #fffcfc;
  padding: 10px 5px;
}

.size {
  padding: 10px 0;
  justify-content: space-around;
  margin: 10px 0;
}

.size-button button {
  padding: 10px;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  margin: 0 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.color-button button {
  border-radius: 50%;
  width: 15px;
  border: 0px;
  height: 15px;
  margin: 0 10px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.color-button {
  justify-content: center;
  align-items: center;
  width: 50%;
}

.cardButton button {
  width: 244px;
  height: 52px;
  left: 817px;
  top: 674px;
  background: #df4244;
  border-radius: 8px;
  border: 0;
  margin: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.cardButton .btn2 {
  border: 2px solid black;
}

.cardButton .btn:hover {
  background-color: #206363;
  color: white !important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.cardButton button:last-of-type {
  background: #fffcfc;
}

.cardButton {
  flex-wrap: nowrap;
}

.product-slider img {
  width: 80%;
  height: 23%;
  border: 1px solid #206363;
  border-radius: 3px;
  margin: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.product-img i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}

.description-Reviews {
  margin: 0 auto;
}

.border-bt {
  border-bottom: 4px solid #df4244;
}

.description-Reviews-head h2 {
  margin-right: 20px;
  padding: 30px;
  color: rgba(33, 33, 33, 0.55);
  cursor: pointer;
}

.description-Reviews-head h2:nth-child(1) {
  color: black;
}

.description-text {
  padding: 50px 0;
  color: #212121;
  line-height: 24px;
}

.description-text > p {
  padding: 10px 0;
}

/* // */

.reviews-text {
  padding: 20px;
}

.reviews-div {
  padding: 10px 20px;
  border: 1px solid rgba(33, 33, 33, 0.28);
  margin: 20px 0;
}

.reviews-div h3 {
  margin: 20px 0;
  color: rgba(33, 33, 33, 0.75);
}

.reviews-div p {
  color: rgba(33, 33, 33, 0.75);
}

.DR-show {
  display: none;
}

.reviews-div h2 i {
  color: #ffdd45;
  font-size: 20px;
}
